@page
@model Simplify.Web.Pages.FeaturesModel
@{
    ViewData["Title"] = "Features";
}

<section class="py-5">
    <div class="container">
        <h2 class="mb-5 text-center">Some of our awesome features</h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>Multi-Tenant</h5>
                <p>Manage blogs of multiple sites at one place.</p>
                <a href="#" role="button">Read more</a>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Headless</h5>
                <p>Build the content and use it with any of your front-end stack.</p>
                <a href="#" role="button">Read more</a>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Statistics</h5>
                <p>Know about consumers pattern and grow your online visibility.</p>
                <a href="#" role="button">Read more</a>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Speed</h5>
                <p>Unimaginable speed thanks to .NET Team.</p>
                <a href="#" role="button">Read more</a>
            </div>
        </div>
    </div>
</section>