@page
@model Simplify.Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<section class="py-5">
    <div class="container">
        <h2 class="mb-5 text-center">Contact the Simplify team</h2>
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <h5>Let's talk about the future of the internet</h5>
                <p class="mb-5 text-muted">We're here to answer your questions and discuss the decentralized future of the internet.</p>
                <div>
                    <div class="d-flex">
                        <icon class="mb-3 mr-3" as="Outline" name="map-pin" />
                        <p class="text-muted">Simplify - India.</p>
                    </div>
                    <div class="d-flex">
                        <icon class="mb-3 mr-3" as="Outline" name="phone" />
                        <p class="text-muted">555-333-555</p>
                    </div>
                    <div class="d-flex">
                        <icon class="mb-3 mr-3" as="Outline" name="mail" />
                        <email class="text-muted">contact</email>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <label class="sr-only" for="input-contacts-01">Email</label>
                    <input class="form-control mb-3" id="input-contacts-01" type="email" placeholder="Email">
                    <select class="form-control mb-3"><option disabled="" selected="">Select product</option><option>Product 1</option><option>Product 2</option><option>Product 3</option></select>
                    <label class="sr-only" for="textarea-contacts-01">Write something...</label>
                    <textarea class="form-control mb-3" id="textarea-contacts-01" rows="5" placeholder="Write something..."></textarea>
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>