/* HORIZONTAL MENU */
.mp-menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.mp-menu-horizontal .mp-menu-list {
    display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.mp-menu-horizontal .mp-menu-item,
.mp-menu-horizontal .mp-menu-heading,
.mp-menu-horizontal .mp-menu-separator {
    display: inline-block;
    vertical-align: middle;
}
