/* misc default styling */

.mp-menu-separator,
.mp-menu-horizontal .mp-menu-children .mp-menu-separator {
    background-color: #ccc;
    height: 1px;
    margin: .3em 0;
}

.mp-menu-horizontal .mp-menu-separator {
    width: 1px;
    height: 1.3em;
    margin: 0 .3em ;
}

/* Need to reset the separator since submenu is vertical */
.mp-menu-horizontal .mp-menu-children .mp-menu-separator {
    display: block;
    width: auto;
}

.mp-menu-heading {
    text-transform: uppercase;
    color: #565d64;
}

.mp-menu-link {
    color: #777;
}

.mp-menu-children {
    background-color: #fff;
}

.mp-menu-link,
.mp-menu-disabled,
.mp-menu-heading {
    padding: .5em 1em;
}

.mp-menu-disabled {
    opacity: .5;
}

.mp-menu-disabled .mp-menu-link:hover {
    background-color: transparent;
}

.mp-menu-active > .mp-menu-link,
.mp-menu-link:hover,
.mp-menu-link:focus {
    background-color: #eee;
}

.mp-menu-selected > .mp-menu-link,
.mp-menu-selected > .mp-menu-link:visited {
    color: #000;
}
