/* scrollable menus */
.mp-menu-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.mp-menu-scrollable .mp-menu-list {
    display: block;
}

.mp-menu-horizontal.mp-menu-scrollable .mp-menu-list {
    display: inline-block;
}

.mp-menu-horizontal.mp-menu-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    /* a little extra padding for this style to allow for scrollbars */
    padding: .5em 0;
}
