@media only screen and (max-width : 480px) {
    .mp-form button[type="submit"] {
        margin: 0.7em 0 0;
    }

    .mp-form input:not([type]),
    .mp-form input[type="text"],
    .mp-form input[type="password"],
    .mp-form input[type="email"],
    .mp-form input[type="url"],
    .mp-form input[type="date"],
    .mp-form input[type="month"],
    .mp-form input[type="time"],
    .mp-form input[type="datetime"],
    .mp-form input[type="datetime-local"],
    .mp-form input[type="week"],
    .mp-form input[type="number"],
    .mp-form input[type="search"],
    .mp-form input[type="tel"],
    .mp-form input[type="color"],
    .mp-form label {
        margin-bottom: 0.3em;
        display: block;
    }

    .mp-group input:not([type]),
    .mp-group input[type="text"],
    .mp-group input[type="password"],
    .mp-group input[type="email"],
    .mp-group input[type="url"],
    .mp-group input[type="date"],
    .mp-group input[type="month"],
    .mp-group input[type="time"],
    .mp-group input[type="datetime"],
    .mp-group input[type="datetime-local"],
    .mp-group input[type="week"],
    .mp-group input[type="number"],
    .mp-group input[type="search"],
    .mp-group input[type="tel"],
    .mp-group input[type="color"] {
        margin-bottom: 0;
    }

    .mp-form-aligned .mp-control-group label {
        margin-bottom: 0.3em;
        text-align: left;
        display: block;
        width: 100%;
    }

    .mp-form-aligned .mp-controls {
        margin: 1.5em 0 0 0;
    }

    .mp-form-message-inline,
    .mp-form-message {
        display: block;
        font-size: 0.75em;
        /* Increased bottom padding to make it group with its related input element. */
        padding: 0.2em 0 0.8em;
    }
}
